# AWS y Base de datos
DB_HOST=my-rds-endpoint.amazonaws.com
DB_PORT=5432
DB_NAME=smartfactory
DB_USER=admin
DB_PASSWORD=secretpassword

# API Gateway Endpoint (Para el simulador)
API_GATEWAY_URL=https://<api-id>.execute-api.<region>.amazonaws.com/prod/telemetry
