# AWS y Base de datos
DB_HOST=tuurl.amazonaws.com
DB_PORT=5432
DB_NAME=smartfactorydb
DB_USER=admin
DB_PASSWORD=admin

# API Gateway Endpoints (Para el simulador)
API_GATEWAY_URL=https://<api-id>.execute-api.<region>.amazonaws.com/prod/telemetry
CONTROL_URL=https://<api-id>.execute-api.<region>.amazonaws.com/prod/control
